:root {
    --container-width: 100vw;
    --container-height: 100vh;
    --img-width: calc((var(--container-width) - 60vw));
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(99, 142, 241,0.5); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: var(--container-width);
    height: var(--container-height);
    display: flex;
    padding-left: 1em;
}

img {
    width: var(--img-width);  
    height: calc(var(--container-height) - 10vh); 
    align-self: center;
    border-radius: 15px;
}

.signup-container {
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    align-self: center;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(255, 255, 255,0.75);
    box-shadow: 
        1px 2px 2px hsl(210deg 60% 50% / 0.2),
        2px 4px 4px hsl(210deg 60% 50% / 0.2),
        4px 8px 8px hsl(210deg 60% 50% / 0.2),
        8px 16px 16px hsl(210deg 60% 50% / 0.2),
        16px 32px 32px hsl(210deg 60% 50% / 0.2);;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

form > * {
    flex-basis: 10vw;
}

button {
    margin: 0 auto;
    min-width: 20vw;
    background-color: rgb(99, 142, 241,0.5);
    border-radius: 10px;
    border: none;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

legend {
    font-size: 2rem;
    padding-bottom: 35px;
}

input[type="email"]:invalid {
    border: 1px solid red;
}

span {
    color: rgb(99, 142, 241,0.5)
}